
<div class="new-tarifa">
    
    <button mat-raised-button  routerLink="/pages/tarifas-add" class="custom-button">Agregar nueva tarifa</button>
</div>
<br>
<mat-divider></mat-divider>

<div>
    <h2>Lista de tarifas</h2>
    
      
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="tarifaList" matSort>
      
         
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef > ID </th>
            <td mat-cell *matCellDef="let tarifa"> {{tarifa.id}} </td>
          </ng-container>
      
          
          <ng-container matColumnDef="Tarifa">
            <th mat-header-cell *matHeaderCellDef > Tarifa </th>
            <td mat-cell *matCellDef="let tarifa"> {{tarifa.tarifa}} </td>
          </ng-container>
      
        
          <ng-container matColumnDef="Precio/Hora">
            <th mat-header-cell *matHeaderCellDef > Precio/Hora $ </th>
            <td mat-cell *matCellDef="let tarifa"> {{tarifa.precioHora}} </td>
          </ng-container>

          <ng-container matColumnDef="Fraccion Hora (minutos)">
            <th mat-header-cell *matHeaderCellDef > Fraccion Hora (minutos) </th>
            <td mat-cell *matCellDef="let tarifa"> {{tarifa.fraccionHora}} </td>
          </ng-container>
        
          <ng-container matColumnDef="Descripcion">
            <th mat-header-cell *matHeaderCellDef > Descripcion </th>
            <td mat-cell *matCellDef="let tarifa"> {{tarifa.descripcion}} </td>
          </ng-container>


          <ng-container matColumnDef="Acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let tarifa">
              <button mat-icon-button color="primary" matTooltip="Editar" (click)="editTarifa(tarifa)">
                <mat-icon id="edit-icon">edit</mat-icon>
              </button>

              <button mat-icon-button color="warn" matTooltip="Eliminar" (click)="deleteTarifa(tarifa)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
          
          
          
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let tarifa; columns: displayedColumns;"></tr>
      
         
        </table>
      
       
      </div>
      
      
</div>
