

    <div class="dashboard-container">
        
            <div class="menu">
                <h2>Menú</h2>
                <ul>
                    <li><a routerLink="pages/inicio">Inicio</a></li>
                    <li><a routerLink="pages/parqueadero">Marcar Entrada/Salida</a></li>
                    <li><a routerLink="pages/tarifas-list">Tarifas</a></li>
                    <li><a routerLink="pages/facturas-list">Lista de Facturas</a></li>
                    <li><a routerLink="pages/acercade">Acerca De</a></li>
                    <li><a routerLink="pages/ayuda">Ayuda</a></li>
                    
                   
                </ul>
            </div>
           
        
    </div>


