<div class="container">
    <h2>Acerca de</h2>
  
    <div class="profile-card">
      <img src="assets/1.jpeg" alt="Paul Astudillo">
      <h3>Paul Astudillo</h3>
      <p>Desarrollador web apasionado por la tecnología y el desarrollo de software.</p>
    </div>
  
    <div class="profile-card">
      <img src="assets/2.jpeg" alt="Juan Tapia">
      <h3>Juan Tapia</h3>
      <p>Entusiasta de la programación y apasionado por la creación de aplicaciones útiles y eficientes.</p>
    </div>
  </div>
  
