<div>
    
    <button mat-raised-button  routerLink="/pages/vehiculos-add" class="custom-button">Agregar nuevo Vehiculo</button>
</div>
<br>
<mat-divider></mat-divider>

<div>
    <h2>Lista de Vehiculo</h2>
    
      
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="vehiculoList" matSort>
<!-- Verifica que el identificador de columna sea "Placa" -->
<ng-container matColumnDef="Placa">
    <th mat-header-cell *matHeaderCellDef> Placa </th>
    <td mat-cell *matCellDef="let vehiculo"> {{ vehiculo.placa }} </td>
  </ng-container>
  
<!-- Columna Marca -->
<ng-container matColumnDef="Marca">
    <th mat-header-cell *matHeaderCellDef> Marca </th>
    <td mat-cell *matCellDef="let vehiculo"> {{ vehiculo.marca }} </td>
  </ng-container>
  

  <ng-container matColumnDef="Color">
    <th mat-header-cell *matHeaderCellDef> Color </th>
    <td mat-cell *matCellDef="let vehiculo"> {{ vehiculo.color }} </td>
  </ng-container>

  
  <!-- Columna Cedula -->
  <ng-container matColumnDef="Cedula">
    <th mat-header-cell *matHeaderCellDef> Cédula </th>
    <td mat-cell *matCellDef="let vehiculo"> {{ vehiculo.cedula }} </td>
  </ng-container>
  

 

  <ng-container matColumnDef="Nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre</th>
    <td mat-cell *matCellDef="let vehiculo"> {{ vehiculo.nombre }} </td>
  </ng-container>



  

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let tarifa; columns: displayedColumns;"></tr>
      
         
        </table>
      
       
      </div>
