<div class="info-tarifas">
  <mat-card>
    <mat-card-content> 
     <h3>Informacion tarifas</h3>
      <p> informacion calculo fraccion hora </p>
    </mat-card-content>
  </mat-card>

</div>

<br/>

<div class="tarifas-form" >
    <form action="" #tarifaForm="ngForm" (ngSubmit)="checkDataForm()">
        <mat-form-field>
            <mat-label>Tipo Tarifa</mat-label>
            <input  matInput  [(ngModel)]="tarifa.tarifa" type="text" name="tarifa" required>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Precio por Hora</mat-label>
            <input matInput  [(ngModel)]="tarifa.precioHora" type="number"  name="precioHora" required>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Descripcion</mat-label>
            <input matInput [(ngModel)]="tarifa.descripcion" type="text" name="descripcion" >
          </mat-form-field>

          <mat-form-field>
            <mat-label>Fraccion Hora (en minutos)</mat-label>
            <mat-select [(ngModel)]="tarifa.fraccionHora" type="number" name="fraccionHora" required>
              <mat-option [value]=1>1</mat-option>
              <mat-option [value]=10>10</mat-option>
              <mat-option [value]=15>15</mat-option>
              <mat-option [value]=30>30</mat-option>
            </mat-select>
            <!-- <mat-hint align="end">mensaje</mat-hint> -->
          </mat-form-field>
          
        <br/>

          <button mat-raised-button type="submit" class="custom-mat-button">Guardar</button>
    </form>

</div>



